.main {
  /* fill bckground */
  min-height: 100%;
  min-width: 1024px;
  /* set propety scaling */
  width: 100%;
  height: auto;
  /* set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  color: DARKGREEN;
  background-image: url("../../assets/bkg1.webp");/* bkgCreate.webp */
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.delateButton {
  color: red;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  size: 15rem;
  background-color:whitesmoke/*darkgrey*/;
  border: 2px outset #1C6EA4;
  margin-top: 1em;
  border-radius: 50%;
  /* background-color:transparent;
  border: none; */
}
.button {
  background-color: goldenrod;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25% 0 25% 0;
  box-shadow: cyan 0px 0px 10px;
  transition: 0.5s easy-in-out;
}
.button[disabled] {
  background-color: gray;
  color: white;
  box-shadow: 0px 0px 15px 15px #ec731e;
  border-radius: 40% 0 35% 0;
}
.button:active {
  background-color: greenyellow;
  color: #c67b49;
  box-shadow: 0px 0px 15px 15px #ec731e;
  border-radius: 40% 0 35% 0;
} /* button[disabled]:hover {
    background: red;
}
button:hover {
    background: lime;
} */
.button[disabled]:hover {
  background-color: darkred;
  color: #c67b49;
  box-shadow: 0px 0px 15px 15px #ec731e;
  border-radius: 40% 0 35% 0;
}
.button:hover {
  background-color: rgb(110, 176, 38);
}

.formIn {
  border: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  margin-top: 2em;
  row-gap: 0.5em;
}
