.button {
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25% 0 25% 0;
  box-shadow: cyan 0px 0px 10px;
}

.placeholder {
  background-color: moccasin;

  border: none;
  font-weight: bold;
  box-shadow: cyan 0px 0px 10px;
}
