.num {
   /* transition: .2s;*/
    border-radius: 50%;
    width: auto;
    height: 25px;
    text-align: center;
    font-weight: bolder;
    color: white;
    margin: 0 3px;
    background-color:lightskyblue;
}
.boxCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.1em; 
} 
.navBar{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    flex-wrap: wrap;
}
.select{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em; 
}
@media screen and (max-width: 667px) {
    .select {
        display: flex;
        gap:0.5em;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.refCre{
    display:flex;
    justify-content: center;
    gap:1.5em;
    align-content: center;
}
.paging{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}
.bkgAll{
    background-color: #fb9815
}
.bkgHome{
    background:transparent url("../../assets/homeicon.png") no-repeat scroll 0% 0%;
    background-size: cover;
}