.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filterContainer select {
  margin: 0 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
